# =========================
# Eclipse IDE files
# =========================
.classpath
.project
.settings/

# =========================
# Build & Output folders
# =========================
build/
bin/
target/

# =========================
# Tomcat / Servers
# =========================
Servers/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Ignore DB credentials file
# =========================
src/main/java/db/DBUtil.java
